SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=example.com,127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://example.com,http://127.0.0.1:3000,http://localhost:3000
ADMIN_PATH=secure-admin

GUNICORN_BIND=0.0.0.0:8000
GUNICORN_WORKERS=3
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=120
GUNICORN_GRACEFUL_TIMEOUT=30
GUNICORN_KEEPALIVE=5
GUNICORN_LOG_LEVEL=info
